{%  extends 'total/staffnav.html' %}



{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Employee:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Employee</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'schedule' staff.id %}">Place Schedule</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body bg-primary">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{emp.email}}</p>
			<p>Phone: {{emp.phone}} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body bg-info">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{myfilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body bg-white">
			<table class="table table-sm">
				<tr>
					<th>Patient</th>
					<th>note</th>
					<th>setting</th>
					<th>facility</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}
				<tr>
					<td>{{order.patient}}</td>
					<td>{{order.patient.refer}}</td>
					<td>{{order.patient.setting}}</td>
					<td>{{order.patient.facility}}</td>
					<td>{{order.date_created}}</td>
					<td>{{order.status}}</td>
					<td> <a class="btn btn-sm btn-info" href="{% url 'update_schedule' order.id %}">UPDATE</a></td>
					<td> <a class="btn btn-sm btn-danger" href="{% url 'delete_schedule' order.id %}">REMOVE</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}