<main>
    <section>
    <div>
        <div>
            <div>
                <h1></h1>
                    <span></span>
                    <p></p>
                    <div>
                        <a></a>
                    </div>
                
            </div>
        </div>
        <div></div>
    </div>
    </section>
    <section>
        <div>
            <div>
                <div>
                    <h2></h2>
                    <h3></h3>
                    <p>Total Therapy Rehabilitation complies with applicable Federal civil rights laws and does not exclude, 
                        deny benefits to, or otherwise discriminate against any person on the basis of race, color, national origin,
                         age, sex, sexual orientation, gender identity, religion, creed, or disability (including HIV) in admission to,
                          participation in, or receipt of the services and benefits of any of its programs and activities, 
                          and in staff and employee assignments to patients, whether carried out by Total Therapy Rehabilitation Management,
                           directly or through a contractor or any other entity with whom Total Therapy Rehabilitation,
                            arranges to carry out its programs and activities.</p>
                    <p>EmpRes Healthcare Management, LLC provides free aids and services to people
                         with disabilities to communicate effectively with us, such as:</p>

                         <ul>
                             <li></li>
                             <li></li>
                         </ul>
                         <p>
                            Total Therapy Rehabilitation, provides free language services to 
                            people whose primary language is not English, such as:
                         </p>
                         <ul>
                             <li></li>
                             <li></li>
                         </ul>
                         <h4>
                             <strong>IF YOU NEED THESE SERVICES, 
                                 CONTACT AN ONSITE EMPLOYEE WHO WILL FACILITATE ACCESS TO OUR LANGUAGE SERVICES LINE.</strong>
                         </h4>
                         <p>If you believe that EmpRes Healthcare Management, LLC has failed to provide these services
                              or discriminated in another way on the basis of race, color, national origin, age, disability or sex,
                               you can file a grievance on-site with the Executive Director at your location or by contacting our Compliance Hotline:</p>
                            <p>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <span>
                                    <a href=""></a>
                                </span>
                            </p>
                            <p>Grievances must be submitted within 60 days of the date the person filing the grievance becomes aware of the alleged 
                                discriminatory action. You can file a grievance in person or by mail, fax or email. If you need help filing a grievance,
                                 Civil Rights Coordinator is available to help you. You can also file a civil rights complaint with the U.S. Department of 
                                 Health and Human Services, Office for Civil Rights electronically through the Office for Civil Rights Complaint Portal, 
                                 available at<span>https://ocrportal.hhs.gov/ocr/portal/lobby.jsf,</span> or by mail or phone at:</p>
                            <p>
                                U.S. Department of Health and Human Services
                                <br>
                                200 Independence Avenue SW
                                <br>
                                Room 509F, HHH Building
                                <br>
                                Washington, DC 20201
                                <br>
                                Toll-Free: (800) 368–1019
                                <br>
                                TDD: (800) 537–7697
                            </p>
                            <p>
                                Complaint forms are available at 
                                <span>//www.hhs.gov/ocr/office/file/index.html</span>
                            </p>
                </div>
            </div>
        </div>
    </section>
</main>