@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=PT+Serif&family=Roboto&display=swap');

/*
body{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #f9f0f6;
    overflow-y: scroll;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




.slider {
    left: calc(50% - 1000px/2 - 2px);
    top: calc(50% - 400px/2 - 162px);
    position: absolute;
    width: 630px;
    max-width: 1000px;
    margin: 251px 207px 473px 233px;
  }
  */
  .slide-viewer {
      position: relative; /* needed for IE7 */
      overflow: hidden;
      height: 300px;}
  
  .slide-group {
      width: 100%;
      height: 100%;
      position: relative;}
  
  .slide {
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;}
  
  .slide:first-child {
      display: block;}
  
  
  /********** BUTTONS **********/ 
  .slide-buttons {
    text-align: center;}
  
  .slide-btn {
    border: none;
    background: none;
    color: #000;
    font-size: 200%;
    line-height: 0.5em;}
  
  .slide-btn.active, .slide-btn:hover {
    color: #ed8e6c;
    cursor: pointer;}
    */