@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=PT+Serif:wght@400;700&display=swap');



.fullscreen-bg_video{
 
  overflow: hidden;
  z-index:-100;	
}




/*
.slide-viewer{
  position: relative;
  overflow: hidden;
  height: 300px;
}

.slide-group{
  width: 100%;
  height: 100%;
  position: relative;
}

.slide{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.slide:first-child{
  display: block;
}


html,body {

    margin: 0;
   
}

.card{
  border-radius: 20px;
}

* {
  box-sizing: border-box;
}
.openBtn {
  display: flex;
  justify-content: left;
}
.openButton {
  border: none;
  border-radius: 5px;
  background-color: #1c87c9;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  position: fixed;
}
.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
.formContainer input[type=text],
.formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}


.fullscreen-bg_video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index:-100;	
}
.layer {
    background-color: rgba(0, 0, 0, 0.75);
    position:absolute;

  	top: 0;
    left: 0;
    width: 100%;
    height: 1500px;
    min-width: 100%;
  	min-height: 100%;
  	overflow: hidden;
}
/*
.container{
  width:1000px;
  position: absolute;
  top: 700px;
  display: flex;
  justify-content: space-between;		
 }
.container .card
{
 position: relative;		
}
.container .card .face
{
 width:300px;
 height: 200px;
 transition: 0.5s;
}
.container .card .face.face1
{
 position: relative;
 background: #333;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1;
 transform: translateY(100px);
}
.container .card:hover .face.face1
{
background:#ff0057;
transform: translateY(0);
}
.container .card .face.face1 .content
{
 opacity: 0.2;
 transition: 0.5s;
}
.container .card:hover .face.face1 .content
{
 opacity: 1;

}
.container .card:hover .face.face1 .content img
{
 max-width: 120px;
}
.container .card:hover .face.face1 .content h3
{
margin: 10px 0 0;
padding: 0;
color: #fff;
text-align: center;
font-size: 1.5em;
}			
.container .card .face.face2
{
 position: relative;
 background: #1F1D55;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
 box-sizing: border-box;
 box-shadow: 0 20px 50px rgba(0,0,0,0.8);
 transform: translateY(-100px);
}
.container .card .face.face2 .content p
{
margin:0;
padding: 0;
}		
.container .card .face.face2 .content a
{
margin: 15px 0 0;
display: inline-block;
text-decoration: none;
font-weight: 900;
color: #333;
padding: 5px;
border:1px solid #333;
}	
.container .card .face.face2 .content a:hover
{ 
background:#333;
color: #fff;
}
*/